<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style1.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <img src="/images/notes.png" alt="notes" srcset=""width="90">
            <h1><%= filename  %></h1>
        </div>
        <h3 style="margin-top: 20px ;font-size: 1.6rem; color: aqua;">Content From Here :</h3>
        <div class="content">
            <p><%= content %></p>
        </div>
        <a class="Go_back" href="/">Go back</a>
    </div>

</body>
</html>